

@page "/GetAllAnnonceProfile"
@using CovoitEco.APP.Model.Models
@using CoiviteEco.APP.Service.Annonce.Queries
@using CovoitEco.APP.Components.Annonce
@inherits CovoitEco.APP.Components.Annonce.AnnonceProfileBase


@*test get a list with int input*@

<div class="sidebar">
    <GetAllAnnonceProfilList />
</div>



